.home {
  min-height: 679px;
  padding-top: 64px;
  padding-bottom: 80px;
}

.home-content {
  max-width: 1171px;
}

.home-heading {
  font-size: 80px;
  font-weight: 600;
}

.home-text {
  padding-top: 24px;
  padding-bottom: 24px;
  font-size: 40px;
  font-weight: 400;
}

a.hmn-btn {
  display: inline-block;
  padding: 16px 32px;
  background-color: black;
  color: white;
  font-weight: 400;
  font-size: 24px;
}
.home-sections {
  display: flex;
  justify-content: space-between;
  padding-top: 120px;
}

.hmn-number {
  display: flex;
  height: 72px;
  padding: 8px 21px;
  background-color: #f4f4f4;
  font-size: 48px;
  font-weight: 600;
}

.hmn-describe {
  font-weight: 400;
  font-size: 20px;
  padding-left: 25px;
  padding-bottom: 12px;
  padding-top: 12px;
}

.hmn-section {
  display: flex;
  height: 72px;
  width: 411px;
}

.hmn-section:last-child {
  padding-right: 0px;
}

.hmn-btn:hover {
  background-color: white;
  color: black;
  border: 0.5px solid black;
}