.home {
    min-height: 679px;
    padding-top: 64px;
    padding-bottom: 80px;
  }
  
  .home-content {
    max-width: 1171px;
  }
  
  .home-heading {
    font-size: 80px;
    font-weight: 600;
  }
  
  .home-text {
    padding-top: 24px;
    padding-bottom: 24px;
    font-size: 40px;
    font-weight: 400;
  }
  
  a.hmn-btn {
    display: inline-block;
    padding: 16px 32px;
    background-color: black;
    color:white;
    font-weight: 400;
    font-size: 24px;
  }
  .home-sections {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 120px;
  }
  
  .hmn-number {
    height: 72px;
    width: 72px;
    background-color: #F4F4F4;
    font-size: 48px;
    font-weight: 600;
  }
 
  
  .hmn-decribe {
    font-weight: 400;
    font-size: 20px;
  }

  .hmn-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-right: 25px;
  }
  
  .hmn-section:last-child  {
    padding-right: 0px;
  }